<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="work.lpssfxy.www.campuslifeassistantclient">
    <!-- 强制查找第三方包名调用SDK资源 -->
    <queries>
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.baidu.BaiduMap" />
        <package android:name="com.autonavi.minimap" />
        <package android:name="com.tencent.map" />
    </queries>

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <!-- 获取GSM（2g）、WCDMA（联通3g）监听网络状况变化等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态，用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" tools:ignore="ProtectedPermissions" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--推送所需的权限-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--日历-->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppMainTranslucentTheme"
        tools:ignore="AllowBackup,LockedOrientationActivity,UnusedAttribute">
        <activity
            android:name=".view.activity.waimai"
            android:exported="true" />
        <!-- 注册今日头条适配方案库 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <!--百度地图ak码-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YNWsEQ3Qrd1aDlQOPWfWmaRqM563zbHK"></meta-data>
        <!-- 程序主入口：你好同学 -->
        <activity
            android:name=".view.activity.LaunchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity基类 -->
        <activity
            android:name=".view.activity.BaseActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- 欢迎页 -->
        <activity
            android:name=".view.activity.GuideActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- 引导页 -->
        <activity
            android:name=".view.activity.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- 主页 -->
        <activity
            android:name=".view.activity.IndexActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- 登录主界面 -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- 手机号登录 -->
        <activity
            android:name=".view.activity.PhoneCodeLoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- QQ信息绑定用户信息 -->
        <activity
            android:name=".view.activity.LoginBindActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- 第三方qq登录 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101965703" />
            </intent-filter>
        </activity>
        <!-- 适配 Android 7.0 文件意图 QQ登录使用-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 用户申请解封账户 -->
        <activity
            android:name=".view.activity.UserApplyUntieActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- 我的资料 -->
        <activity
            android:name=".view.activity.MineInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!-- 用户注册 -->
        <activity
            android:name=".view.activity.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--使用百度服务功能-->
        <!--        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"/>-->
        <!-- 广播器 -->
        <!--        <provider-->
        <!--            android:name="androidx.core.content.FileProvider"-->
        <!--            android:authorities="work.lpssfxy.www.campuslifeassistantclient.fileprovider"-->
        <!--            android:exported="false"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/file_paths" />-->
        <!--        </provider>-->

        <!-- Bomb消息接收器，在这里进行注册 -->
        <receiver android:name="work.lpssfxy.www.campuslifeassistantclient.base.MyPushMessageReceiver"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.bmob.push.action.MESSAGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>